name: Build

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.11-slim
    env:
      UV_PROJECT_ENVIRONMENT: .venv
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Create venv
        run: uv venv
      - name: Sync dependencies
        run: uv sync --dev --frozen
      - name: Build package
        run: uv run --with build python -m build
      - name: Check package
        run: uv run --with twine twine check dist/*
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-packages
          path: dist/
